@page "/not-found"
@layout MainLayout

<PageTitle>Not found</PageTitle>

<h3>Página não encontrada</h3>
<p>Desculpe, esta página não existe.</p>
<a href="/tasks" class="btn btn-primary">Ir para Tarefas</a>
